<footer class="py-8 text-center">
    <div class="container mx-auto px-6">
        <p class="text-lg">&copy; <span id="current-year">2025</span> Joon Kim. All rights reserved.</p>
        <div class="flex justify-center space-x-6 mt-4">
            <a href="https://www.linkedin.com/in/jooooonkim" target="_blank">
                <i class="fab fa-linkedin text-2xl"></i>
            </a>
            <a href="https://github.com/jooooonkim" target="_blank">
                <i class="fab fa-github text-2xl"></i>
            </a>
            <a href="mailto:joon.kim@cooper.edu">
                <i class="fas fa-envelope text-2xl"></i>
            </a>
        </div>
    </div>
</footer>
